In [1]:
import yfinance as yf
import pandas as pd
import datetime as dt
import os

def pull_stock_data(tickers:str, start:str, end:str, interval:str, stripdateindex:str, column:str) -> pd.DataFrame:
    """
    Returns a dataframe with chosen stock information for last day of the month.

    Parameters:
    -------------
    tickers (str): Yahoo finance tickers for companies divided ONLY by single space
    start (str): start date of the period (format yyyy-mm-dd)
    end (str): end date of the period (format yyyy-mm-dd)
    interval (str): wanted interval (1d, 1m, 1y)
    stripdateindex (str): argument for stripping datetime index down (d - day, m - month, y- year)
    columns (list): list of wanted values, args same as in yahoo finance
    """
    # data download
    df = yf.download(tickers = tickers, start = start, end = end, interval = interval, groupby = 'ticker')
    # changing index from datetime to just year and month
    df['Date'] = df.index
    dfg = df.groupby([df.index.year, df.index.month], as_index=False).last()
    dfg.reset_index(inplace=True, drop=True)
    dfg.set_index('Date', inplace=True)
    dfg.index = pd.to_datetime(dfg.index).to_period(stripdateindex)
    # dropping na rows
    dfg.dropna(inplace = True)
    return dfg[column]
    
def save_to_desktop(dataframe:pd.DataFrame, file_name:str):
    """
    Saves dataframe to desktop in csv format under filename provided

    Parameters:
    ------------
    dataframe (pd.DataFrame): dataframe that is to be saved
    file_name (str): name of the file
    """
    # defining path to desktop on running unit
    desktop = os.path.join(os.path.join(os.environ['USERPROFILE']), 'Desktop')
    # saving file under chosen name on desktop
    dataframe.to_csv(desktop+'/'+file_name+'.csv', sep=';', encoding='UTF-8')

In [2]:
tick = "NKE MSFT XOM INTC CAT WMT JPM F UPS MKC"
st = '2000-12-01'
en = '2020-12-31'
intv = '1d'
strpdt = 'm'
col = ['Close', 'Volume']

dftest = pull_stock_data(tick, st, en, intv, strpdt, col)
dftest.head(20)

[*********************100%***********************]  10 of 10 completed

C:\Users\maxim\AppData\Local\Temp\ipykernel_3716\2222009829.py:26: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  dfg.index = pd.to_datetime(dfg.index).to_period(stripdateindex)

             Close                                                         \
               CAT          F       INTC        JPM        MKC       MSFT
Date
2000-12  23.656250  23.437500  30.062500  45.437500   9.015625  21.687500
2001-01  22.110001  28.190001  37.000000  54.990002   9.112500  30.531250
2001-02  20.799999  27.809999  28.562500  46.660000   9.825000  29.500000
2001-03  22.190001  28.120001  26.312500  44.900002  10.497500  27.343750
2001-04  25.100000  29.480000  30.910000  47.980000   9.825000  33.875000
2001-05  27.080000  24.350000  27.010000  49.150002  10.100000  34.590000
2001-06  25.025000  24.549999  29.250000  44.470001  10.505000  36.500000
2001-07  27.549999  25.469999  29.809999  43.299999  10.672500  33.095001
2001-08  25.000000  19.870001  27.959999  39.400002  11.300000  28.525000
2001-09  22.400000  17.350000  20.440001  34.150002  11.450000  25.584999
2001-10  22.360001  16.049999  24.420000  35.360001  10.940000  29.075001
2001-11  23.709999  18.940001  32.660000  37.720001  10.750000  32.105000
2001-12  26.125000  15.720000  31.450001  36.349998  10.492500  33.125000
2002-01  25.139999  15.300000  35.040001  34.049999  11.050000  31.855000
2002-02  27.754999  14.880000  28.549999  29.250000  12.250000  29.170000
2002-03  28.424999  16.490000  30.410000  35.650002  12.782500  30.155001
2002-04  27.309999  16.000000  28.610001  35.099998  12.820000  26.129999
2002-05  26.135000  17.650000  27.620001  35.950001  13.130000  25.455000
2002-06  24.475000  16.000000  18.270000  33.919998  12.875000  27.350000
2002-07  22.350000  13.470000  18.790001  24.959999  11.375000  23.990000

                                                     Volume            \
              NKE        UPS        WMT        XOM      CAT         F
Date
2000-12  6.976563  58.750000  53.125000  43.468750  3051800   4746800
2001-01  6.876250  61.900002  56.799999  42.075001  3889000   4553600
2001-02  4.878750  56.529999  50.090000  40.525002  3025200   4803100
2001-03  5.043750  56.900002  50.500000  40.500000  3046800   3807000
2001-04  5.226250  57.450001  51.740002  44.299999  5055000   5593100
2001-05  5.137500  59.450001  51.750000  44.375000  2933600   5977700
2001-06  5.248750  57.799999  48.799999  43.674999  8198400   6331100
2001-07  5.943750  56.830002  55.900002  41.759998  5094800   3841800
2001-08  6.250000  55.230000  48.049999  40.150002  3360200   4713100
2001-09  5.851250  51.980000  49.500000  39.400002  4313000   6198300
2001-10  6.170000  51.000000  51.400002  39.450001  3441600   8847900
2001-11  6.623750  56.220001  55.150002  37.400002  3615200   7022600
2001-12  7.030000  54.500000  57.549999  39.299999  2041000   7231500
2002-01  7.488750  57.480000  59.980000  39.049999  3247000  12826500
2002-02  7.357500  58.939999  62.009998  41.299999  4525000   8454100
2002-03  7.501250  60.799999  61.299999  43.830002  3043000   5675100
2002-04  6.666250  60.040001  55.860001  40.169998  4513600   5645300
2002-05  6.718750  60.380001  54.099998  39.930000  3257400   6567500
2002-06  6.706250  61.750000  55.009998  40.919998  5297000   7058600
2002-07  6.161250  65.339996  49.180000  36.759998  4328800   6921600

                                                                              \
             INTC       JPM      MKC       MSFT       NKE      UPS       WMT
Date
2000-12  54053600   9657000   998000   99977600   8772800  1096000   6582300
2001-01  71894200  13130800   264000   81898800   7408000  2782200  10848100
2001-02  48601400  10510600   962800   84608400  23287200   850200   7748200
2001-03  47297100   8463000  1899600   91201600   4391200   925700   8308400
2001-04  41266300   7737700   956400   74368200   9381600  1041500   6597800
2001-05  38761100   5875300   413200   70682600  11191200  1716100   5880700
2001-06  49436600   6180700   584800   94283800  23972800  2619300   9306500
2001-07  50354000   8469900   462400   59031600  11809600   660600   7725600
2001-08  38127600   4918600   281600   57900800   8666400  1157100   7555100
2001-09  72640600  10302300  1039600  116641200  10322400  2781500   9560200
2001-10  64549300   6379000  1115200   64700000  16315200  1543300   7034600
2001-11  42399600   7271300   622800   48234200  12154400  2367200   8414300
2001-12  27975400   6298000   627200   43006200   6570400  1198500   5134700
2002-01  63035000  12247600   516400   69566200  16327200  1562800   6861200
2002-02  64454700   8056800  1215200   68068000  10628800  1780200  11995700
2002-03  33005100   6425000   325600   43901200   7105600  1259600   5830000
2002-04  45052800   9882800   993200   77384000  10550400  1775900  10411000
2002-05  38515500   7764000   398600   66468000   6962400  3957300  11707200
2002-06  63858200   7830000  1108800   89555600  38186400  5258400  15398900
2002-07  54030300  13790900  1239000   93875600  17416800  4590200  12722700


              XOM
Date
2000-12   9564000
2001-01  17017600
2001-02  11591200
2001-03  13186600
2001-04  15066600
2001-05  11855800
2001-06  15372000
2001-07  11069300
2001-08   7608200
2001-09  14064200
2001-10  10031200
2001-11  11246000
2001-12   8730500
2002-01  11115000
2002-02  12889700
2002-03   9657600
2002-04  12714700
2002-05  12150200
2002-06  13780900
2002-07  18178800

In [3]:
df1 = dftest['Close']
df1.head()

,CAT,F,INTC,JPM,MKC,MSFT,NKE,UPS,WMT,XOM
Date,,,,,,,,,,
2000-12,23.656250,23.437500,30.0625,45.437500,9.015625,21.68750,6.976563,58.750000,53.125000,43.468750
2001-01,22.110001,28.190001,37.0000,54.990002,9.112500,30.53125,6.876250,61.900002,56.799999,42.075001
2001-02,20.799999,27.809999,28.5625,46.660000,9.825000,29.50000,4.878750,56.529999,50.090000,40.525002
2001-03,22.190001,28.120001,26.3125,44.900002,10.497500,27.34375,5.043750,56.900002,50.500000,40.500000
2001-04,25.100000,29.480000,30.9100,47.980000,9.825000,33.87500,5.226250,57.450001,51.740002,44.299999

In [4]:
df1 = df1.pct_change()

In [5]:
save_to_desktop(dftest, 'data')

In [6]:
fama = pd.read_csv(r"F-F_Research_Data_Factors.CSV", sep=';')
fama['Date'] = fama['Date'].astype('string')

fama['Date']= pd.to_datetime(fama['Date'], format='%Y%m')
fama.set_index('Date', inplace=True)
fama.index = fama.index.to_period('m')
fama = fama.divide(100)
fama.head()

         Mkt-RF     SMB     HML      RF
Date
1926-07  0.0296 -0.0256 -0.0243  0.0022
1926-08  0.0264 -0.0117  0.0382  0.0025
1926-09  0.0036 -0.0140  0.0013  0.0023
1926-10 -0.0324 -0.0009  0.0070  0.0032
1926-11  0.0253 -0.0010 -0.0051  0.0031

In [7]:

#fama.head()

In [9]:
dffull = pd.merge(df1,fama, how='left', left_index=True, right_index=True)
dffull.head()

,CAT,F,INTC,JPM,MKC,MSFT,NKE,UPS,WMT,XOM,Mkt-RF,SMB,HML,RF
Date,,,,,,,,,,,,,,
2000-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0119,0.0072,0.0761,0.0050
2001-01,-0.065363,0.202773,0.230769,0.210234,0.010745,0.407781,-0.014379,0.053617,0.069176,-0.032063,0.0313,0.0669,-0.0509,0.0054
2001-02,-0.059249,-0.013480,-0.228041,-0.151482,0.078189,-0.033777,-0.290493,-0.086753,-0.118134,-0.036839,-0.1005,-0.0079,0.1248,0.0038
2001-03,0.066827,0.011147,-0.078775,-0.037720,0.068448,-0.073093,0.033820,0.006545,0.008185,-0.000617,-0.0726,0.0024,0.0642,0.0042
2001-04,0.131140,0.048364,0.174727,0.068597,-0.064063,0.238857,0.036183,0.009666,0.024554,0.093827,0.0794,0.0055,-0.0468,0.0039

In [10]:

cols = dffull.columns.tolist()
# Calculate excess stock return for each company
for i in cols[:10]:
    dffull[i+'_re'] = dffull[i]-dffull['RF']
    # Calculate excess Market return
dffull['reM'] = dffull['Mkt-RF']-dffull['RF']
dffull.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 241 entries, 2000-12 to 2020-12
Freq: M
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CAT      240 non-null    float64
 1   F        240 non-null    float64
 2   INTC     240 non-null    float64
 3   JPM      240 non-null    float64
 4   MKC      240 non-null    float64
 5   MSFT     240 non-null    float64
 6   NKE      240 non-null    float64
 7   UPS      240 non-null    float64
 8   WMT      240 non-null    float64
 9   XOM      240 non-null    float64
 10  Mkt-RF   241 non-null    float64
 11  SMB      241 non-null    float64
 12  HML      241 non-null    float64
 13  RF       241 non-null    float64
 14  CAT_re   240 non-null    float64
 15  F_re     240 non-null    float64
 16  INTC_re  240 non-null    float64
 17  JPM_re   240 non-null    float64
 18  MKC_re   240 non-null    float64
 19  MSFT_re  240 non-null    float64
 20  NKE_re   240 non-null    float64
 21  UPS_re   240 non-null    float64
 22  WMT_re   240 non-null    float64
 23  XOM_re   240 non-null    float64
 24  reM      241 non-null    float64
dtypes: float64(25)
memory usage: 57.1 KB

In [11]:
import statsmodels.api as sm

In [12]:
cols1 = dffull.columns.tolist()

colsreg = [x for x in cols1 if '_re' in x]

In [56]:
X = sm.add_constant(dffull['reM'])
for col in colsreg[:2]:
    y = dffull[col]
    # fajna regresja y na X tutaj

         const    CAT_re
Date
2000-12    1.0       NaN
2001-01    1.0 -0.070763
2001-02    1.0 -0.055887
2001-03    1.0  0.062626
2001-04    1.0  0.127241
         const      F_re
Date
2000-12    1.0       NaN
2001-01    1.0  0.197373
2001-02    1.0 -0.006619
2001-03    1.0  0.006947
2001-04    1.0  0.044465